
*.DS_Store

*.suo

CertificateSigningRequest.certSigningRequest

Event Kit/EventKitHelper/EventKitHelper.xcodeproj/project.xcworkspace/xcshareddata/EventKitHelper.xccheckout

EventKitHelper.provisionprofile

devloperID_application.cer

Event Kit/EventKitHelper/EventKitHelper.xcodeproj/xcuserdata/miyako.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
