<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://www.4d.com/namespace/reserved/FP/Constants">
   <appid>&quot;0&quot;</appid>
   <fourdversmin>&quot;9.0.0&quot;</fourdversmin>
   <fourdversmax>&quot;9.0.0&quot;</fourdversmax>
   <command name="EK SOURCE Get type" str="20000" topic="2">
      <param position="2" k="20002"/>
   </command>
   <command name="EK SOURCE Calendar list" str="20000" topic="5">
      <param position="3" k="20000"/>
   </command>
   <command name="EK CALENDAR Get default" str="20000" topic="10">
      <param position="1" k="20000"/>
   </command>
   <command name="EK CALENDAR Get type" str="20000" topic="11">
      <param position="2" k="20002"/>
   </command>
   <command name="EK CALENDAR LIST" str="20000" topic="12">
      <param position="2" k="20000"/>
   </command>
   <command name="EK CALENDAR Create" str="20000" topic="13">
      <param position="2" k="20002"/>
   </command>
   <command name="EK EVENT Get status" str="20000" topic="56">
      <param position="2" k="20001"/>
   </command>
</application>
